
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="shortcut icon" type="image/png" href="/admin/images/logos/favicon.png" />
    <link rel="stylesheet" href="/admin/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="/admin" class="text-nowrap logo-img">
                        <h2 style="font-weight: 800;color: #28b4ff;" class="m-3">Evolve.</h2>
                        {{!-- <img src="/admin/images/logos/dark-logo.svg" width="180" alt="" /> --}}
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link " href="/admin/dashboard" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/sales_report" aria-expanded="false">
                                <span>
                                    <i class="ti ti-article"></i>
                                </span>
                                <span class="hide-menu">Sales Report</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">CONTROLS</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link active" href="/admin/orders" aria-expanded="false">
                                <span>
                                    <i class="ti ti-file-description"></i>
                                </span>
                                <span class="hide-menu">Orders</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/category" aria-expanded="false">
                                <span>
                                    <i class="ti ti-cards"></i>
                                </span>
                                <span class="hide-menu">Category</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/users" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user"></i>
                                </span>
                                <span class="hide-menu">Users</span>
                            </a>
                        </li>

                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Editing Functions</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/products" aria-expanded="false">
                                <span>
                                    <i class="ti ti-article"></i>
                                </span>
                                <span class="hide-menu">Products</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/coupons" aria-expanded="false">
                                <span>
                                    <i class="ti ti-cards"></i>
                                </span>
                                <span class="hide-menu">Coupons</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/banners" aria-expanded="false">
                                <span>
                                     <i class="ti ti-aperture"></i>
                                </span>
                                <span class="hide-menu">Banners</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/offers" aria-expanded="false">
                                <span>
                                     <i class="ti ti-article"></i>
                                </span>
                                <span class="hide-menu">Offers</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">EXTRA</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/deal_of_month" aria-expanded="false">
                                <span>
                                    <i class="ti ti-aperture"></i>
                                </span>
                                <span class="hide-menu">Deal Of Month</span>
                            </a>
                        </li>
                    </ul>
                    
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse"
                                href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                                <i class="ti ti-bell-ringing"></i>
                                <div class="notification bg-primary rounded-circle"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                            <li>
                                <form action="/admin/contact"><button style="border-style: none;background-color: white;" type="submit" class="" >
                                    <img src="/admin/images/profile/user-1.jpg" alt="" width="35" height="35"
                                        class="rounded-circle">
                                </button></form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!--  Header End -->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-light">
                            <thead>
                                <tr>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Payment<br> Method</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each orders}}
                                <tr>
                                    <td>{{this.order}}</td>
                                    <td>{{#if this.user.name}}{{this.user.name}}{{else}}Unknown{{/if}}</td>
                                    <td>{{this.foramttedDate}}</td>
                                    <td>₹{{this.totalAmount}}</td>
                                    <td>{{this.paymentMethod}}</td>
                                    <td>{{#eq this.orderStatus "Placed"}}<span
                                            class="text-info">{{this.orderStatus}}</span>{{/eq}}
                                        {{#eq this.orderStatus "Pending"}}<span
                                            class="text-warning">{{this.orderStatus}}</span>{{/eq}}
                                        {{#eq this.orderStatus "Cancel"}}<span
                                            class="text-danger">Cancelled</span>{{/eq}}
                                        {{#eq this.orderStatus "Delivered"}}<span
                                            class="text-success">{{this.orderStatus}}{{#eq this.returnOrderStatus "requested"}}<span style="color: red;">(R)</span>{{/eq}}</span>{{/eq}}
                                        {{#eq this.orderStatus "Shipped"}}<span
                                            class="text-info">{{this.orderStatus}}</span>{{/eq}}
                                    </td>
                                    <form action="/admin/orders/update_status/{{this._id}}" method="post">
                                        <td><select name="newStatus" class="form-select " style="font-size: small;"
                                                aria-label=" select ">
                                                <option value="Placed" {{#eq this.orderStatus "Placed"
                                                    }}selected{{/eq}}>Placed
                                                </option>
                                                <option value="Delivered" {{#eq this.orderStatus "Delivered"
                                                    }}selected{{/eq}}>
                                                    Delivered</option>
                                                <option value="Cancel" {{#eq this.orderStatus "Cancel"
                                                    }}selected{{/eq}}>Cancelled
                                                </option>
                                                <option value="Pending" {{#eq this.orderStatus "Pending"
                                                    }}selected{{/eq}}>Pending
                                                </option>
                                                <option value="Shipped" {{#eq this.orderStatus "Shipped"
                                                    }}selected{{/eq}}>Shipped
                                                </option>
                                            </select></td>
                                        <td><input type="hidden" name="currentPage" value={{currentPage}}>
                                            <button type="submit" class="btn  p-1" style=";"><i
                                                    class="bi bi-check-square"></i></button>
                                        </td>
                                    </form>
                                    <td><a href="/admin/orders/details/{{this._id}}"><button class="btn border p-1"
                                                style="font-size: small;">Details</button></a></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{#gt totalOrders 2}}
        <div style="margin-left: 230px;" class="d-flex justify-content-center ">
            {{#gt totalOrders 15}} <a href="/admin/orders?page=1"><button class="btn border">1</button></a>{{/gt}}
            {{#gt totalOrders 15}}<a href="/admin/orders?page=2"><button class="btn border">2</button></a>{{/gt}}
            {{#gt totalOrders 30}}<a href="/admin/orders?page=3"><button class="btn border">3</button></a>{{/gt}}
        </div>
        {{/gt}}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/admin/libs/jquery/dist/jquery.min.js"></script>
    <script src="/admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/js/sidebarmenu.js"></script>
    <script src="/admin/js/app.min.js"></script>
    <script src="/admin/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/admin/libs/simplebar/dist/simplebar.js"></script>
    <script src="/admin/js/dashboard.js"></script>

</body>

</html>