<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="stylesheet" href="/stylesheet/adminlists(dashboard).css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
    <link rel="shortcut icon" type="image/png" href="/admin/images/logos/favicon.png" />
    <link rel="stylesheet" href="/admin/css/styles.min.css" />

</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="/admin" class="text-nowrap logo-img">
                        <h2 style="font-weight: 800;color: #28b4ff;" class="m-3">Evolve.</h2>
                        {{!-- <img src="/admin/images/logos/dark-logo.svg" width="180" alt="" /> --}}
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/dashboard" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/sales_report" aria-expanded="false">
                                <span>
                                    <i class="ti ti-article"></i></i>
                                </span>
                                <span class="hide-menu">Sales Report</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">CONTROLS</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/orders" aria-expanded="false">
                                <span>
                                    <i class="ti ti-file-description"></i>
                                </span>
                                <span class="hide-menu">Orders</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/category" aria-expanded="false">
                                <span>
                                    <i class="ti ti-cards"></i>
                                </span>
                                <span class="hide-menu">Category</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link active" href="/admin/users" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user"></i>
                                </span>
                                <span class="hide-menu">Users</span>
                            </a>
                        </li>

                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Editing Functions</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/products" aria-expanded="false">
                                <span>
                                   <i class="ti ti-article"></i>
                                </span>
                                <span class="hide-menu">Products</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/coupons" aria-expanded="false">
                                <span>
                                    <i class="ti ti-cards"></i>
                                </span>
                                <span class="hide-menu">Coupons</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/banners" aria-expanded="false">
                                <span>
                                     <i class="ti ti-aperture"></i>
                                </span>
                                <span class="hide-menu">Banners</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/offers" aria-expanded="false">
                                <span>
                                     <i class="ti ti-article"></i>
                                </span>
                                <span class="hide-menu">Offers</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">EXTRA</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/deal_of_month" aria-expanded="false">
                                <span>
                                    <i class="ti ti-aperture"></i>
                                </span>
                                <span class="hide-menu">Deal Of Month</span>
                            </a>
                        </li>
                    </ul>
                    
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse"
                                href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                                <i class="ti ti-bell-ringing"></i>
                                <div class="notification bg-primary rounded-circle"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                            
                            <li class="nav-item dropdown">
                                <li>
                                <form action="/admin/contact"><button style="border-style: none;background-color: white;" type="submit" class="" >
                                    <img src="/admin/images/profile/user-1.jpg" alt="" width="35" height="35"
                                        class="rounded-circle">
                                </button></form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!--  Header End -->

            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex" style="width: auto;">
                            <h5 class="card-title fw-semibold mb-4">Users List</h5>
                            <form id="formss" action="" method="get" class="d-flex" role="search"
                                style="margin-left: auto;">
                                <input name="user" class="form-control me-2" {{#if searchData}}value="{{searchData}}"
                                    {{/if}} id="searchInput" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                        <button style="display: none;" type="button" class="btn btn-success m-1" data-bs-toggle="modal"
                            data-bs-target="#statusSuccessModal" id="successModalsButton">Success Modal</button>


                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">User ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody>

                                {{#each data}}
                                <tr>
                                    <td>{{this._id}}</td>
                                    <td>{{name}}</td>
                                    <td>{{email}}</td>
                                    <td>{{mobile}}</td>
                                    {{#if is_blocked}}<td style="color: red;">Blocked</td>{{else}} <td
                                        style="color: green;">Active</td>

                                    {{/if}}

                                    <td>
                                        <div class="btns" style="background: none;border-style: none;">{{#if
                                            is_blocked}}<button data-product-id="{{_id}}" id="unBlockBtn"
                                                style="height: 30px; width:90px"
                                                class="unBlockBtn btn btn-secondary pt-1 ">Unblock</button> {{else}}
                                            <button data-product-id="{{_id}}" style="height: 30px; width:90px"
                                                class="btn btn-secondary pt-1 pb-1 blockBtn">Block</button>{{/if}}
                                        </div>
                                    </td>

                                </tr>
                                {{/each}}

                            </tbody>

                        </table>
                        <div class="text-center my-5">
                            {{#if countIsZero}}
                            <h2><i style="font-size: 50px;" class="bi bi-person-fill-exclamation"></i></h2>
                            <p>User Not found!</p>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {{#gt total 10}}<li class="page-item"><a class="page-link"{{#if searchData}}href="?page=1&search={{searchData}}"{{else}} href="?page=1"{{/if}}>1</a></li>{{/gt}}
                    {{#gt total 10}}<li class="page-item"><a class="page-link"{{#if searchData}}href="?page=2&search={{searchData}}"{{else}} href="?page=2"{{/if}}>2</a></li>{{/gt}}
                    {{#gt total 20}}<li class="page-item"><a class="page-link" href="?page=3">3</a></li>{{/gt}}
                    {{#gt total 30}}<li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>{{/gt}}
                </ul>
            </nav>
            {{!-- <div class="d-flex justify-content-center">
                <input type="radio" class="btn-check" name="options-base" id="option5" autocomplete="off" >
                <label class="btn" for="option5"><a class="page-link" href="?page=1">1</a></label>

                <input type="radio" class="btn-check" name="options-base" id="option6" autocomplete="off">
                <label class="btn" for="option6"><a class="page-link" href="?page=2">2</a></label>

                <input type="radio" class="btn-check" name="options-base" id="option8" autocomplete="off">
                <a class="page-link" href="?page=3"><label class="btn" for="option8">3</label></a>
            </div> --}}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/admin/libs/jquery/dist/jquery.min.js"></script>
    <script src="/admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/js/sidebarmenu.js"></script>
    <script src="/admin/js/app.min.js"></script>
    <script src="/admin/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/admin/libs/simplebar/dist/simplebar.js"></script>
    <script src="/admin/js/dashboard.js"></script>
    <script>


        document.querySelectorAll('.btns').forEach(btn => {
            const unblockBtn = btn.querySelector('.unBlockBtn');
            const blockBtn = btn.querySelector('.blockBtn');


            $(".unBlockBtn").click(function () {
                const productId = $(this).data("product-id");
                console.log(productId)
                const response = Swal.fire({
                    title: "Are you Sure ",
                    text: "To Unblock this User ",
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#990f0f',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No !'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: "GET",
                            url: `users/unblock_user/${productId}`, // Your server route for adding items to the cart
                            success: function (data) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'User Account Unblocked',
                                    showConfirmButton: false,
                                    timer: 2000
                                })
                                setTimeout(() => {
                                    location.reload()
                                }, 2000)

                            },
                            error: function (error) {
                                Swal.fire({
                                    icon: 'error',
                                    title: error.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                })

                            }
                        });
                    }
                })
            })

            $(".blockBtn").click(function () {
                const productId = $(this).data("product-id");
                const response = Swal.fire({
                    title: "Are you Sure ",
                    text: "To Block this User ",
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#990f0f',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No !'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: "GET",
                            url: `users/block_user/${productId}`, // Your server route for adding items to the cart
                            success: function (data) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'User Account blocked',
                                    showConfirmButton: false,
                                    timer: 2000
                                })
                                setTimeout(() => {
                                    location.reload()
                                }, 2000)

                            },
                            error: function (error) {
                                Swal.fire({
                                    icon: 'error',
                                    title: error.message,
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            }
                        });
                    }
                })
            })

        })
    </script>

</body>

</html>